<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925077366664-gcu89do8a68jqf46leeg8g3k5d5paf92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925077366664-gcu89do8a68jqf46leeg8g3k5d5paf92</string>
	<key>API_KEY</key>
	<string>AIzaSyCgKGox2FpTOHUBkx4OBM1F2VG3E-lM08c</string>
	<key>GCM_SENDER_ID</key>
	<string>925077366664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.gymtrack</string>
	<key>PROJECT_ID</key>
	<string>gymtrack-59ffb</string>
	<key>STORAGE_BUCKET</key>
	<string>gymtrack-59ffb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925077366664:ios:952cdb2b24a51a6a0ffc3d</string>
</dict>
</plist>